
<html>

<body>
<div class="container mt-3">
    <form action="/goto-products" method="POST">
        <button class="btn btn-outline-info mt-2">Go to products</button>
    </form>
</div>

<div class="container">
    <div class="row">
        {{#each products}}
            <div class="col-md-4">
                <div class="card mt-2">
                    <div class="card-title">
                        <h4 class="card-header">{{productName}}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Number of products: {{amount}}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">Price: {{price}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    {{#if pages.length}}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#each pages}}
                    {{#if this.isCurrent}}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{this.page}}</span>
                        </li>
                    {{else}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{this.page}}">{{this.page}}</a>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </nav>
    {{/if}}
</div>

</body>
</html>